/* 햄버거 & 검색 버튼 */
.header-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* 수직 가운데 정렬 */
}

/* fontsome icon style 수정 */
.icon-button {       
    font-size: 24px; /* 아이콘 크기 조정 */
    cursor: pointer; /* 커서 모양 변경 */
    margin-left: 10px; /* 데스크탑 버전 */
}

/* 사이드 내비게이션의 스타일 정의 */
.sidenav {
height: 100%; /* 전체 높이 */
width: 0; /* 초기 너비는 0 */

position: fixed; /* 고정 위치 */
top: 0; /* 상단에 정렬 */
left: 0; /* 왼쪽에 정렬 */

background-color: rgb(200, 200, 141); /* 검정색 배경 */
padding-top: 60px; /* 상단 패딩 60px */  

transition: 1s; /* 0.5초 동안의 부드러운 트랜지션 효과 */
overflow-x: hidden; /* 가로 스크롤 비활성화 */
z-index: 1; /* z-index가 1인 요소가 다른 요소 위에 표시되게 함 */
}

/* 사이드 내비게이션 내부 링크 스타일 정의 */
.sidenav a {
text-decoration: none; /* 텍스트 장식 없음 */  
padding: 8px 8px 8px 32px; /* 패딩 설정 */

font-size: 20px; /* 폰트 크기 25px */
color: #343131; /* 텍스트 색상 */

display: block; /* 블록 요소로 설정 */
transition: 1s; /* 0.3초 동안의 부드러운 트랜지션 효과(hover도 포함) */
}

/* 사이드 내비게이션 링크에 마우스를 올렸을 때 색상 변화 */
.sidenav a:hover {
color: red;
}

/* 사이드 내비게이션 닫기 버튼 스타일 정의 */
.sidenav .closebtn {
position: absolute; /* 절대 위치 */
top: 0; /* 상단에 정렬 */
right: 25px; /* 오른쪽에서 25px 떨어짐 */
font-size: 36px; /* 폰트 크기 36px */
margin-left: 50px; /* 왼쪽 마진 50px */
}


.header-line {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* 수직 가운데 정렬 */
}

.header-line img {
    width: 300px;
}

.RecipeTypes {    
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;                 /* 창 크기에 따라 범위 안에 있도록 감싸준다. 즉, 창크기가 작아지면 한줄 메뉴가 2~3줄로 줄어들면서 감싼다 */
    border-top:1px solid #ebebeb;
    padding-top: 5px;
}

.Ingredients {    
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;                 /* 창 크기에 따라 범위 안에 있도록 감싸준다. 즉, 창크기가 작아지면 한줄 메뉴가 2~3줄로 줄어들면서 감싼다 */
    border-bottom: 4px double black;
    padding: 5px;
}

.Ingredients button,
.RecipeTypes button  {
    border: none;
    background: none;  /* 버튼의 배경을 없애 */
    margin: 5px;
}

.Ingredients button:hover,
.RecipeTypes button:hover{
    background-color: beige;
}


.img-size{
    max-width: 100%;  
    max-height: 250px;  
}

.recipe {
    border-bottom: 2px solid black;
}

/* 데스크탑 버전: .menus 표시, #mySidenav 숨기기 */
@media (min-width: 991px) {
    .side-bar{
        display: none;
    }
}

/* 모바일 버전: .menus 숨기기, #mySidenav 표시 */
@media (max-width: 991px) {
    .menus {
        display: none;
    }
    .side-bar {
        display: block;
        width: 0; /* 초기 너비는 0 */
        margin-right: 35px; /* 검색 아이콘과의 간격 조절 */    
    }
}
