/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif KR', serif;
  /* 윤승근 폰트 추가 */
}
html,
body {
  height: 100%;
  font-family: Arial, sans-serif; /* 원하는 기본 글꼴 설정 */
}

/* -----------------메인-------------------- */
.div-ingredient {
    display: none; /* 초기 로딩 시 숨기기 */
    /* border : 1px solid #000; */
    padding-bottom: 50px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* 짝수번째 .div-ingredient 배경색 설정 */
.div-ingredient:nth-child(even) {
    background-color: #f4f0ef;
}


/* .sub-ingredient와 .card 관련 스타일 */
.sub-ingredient {
    color: rgb(147, 112, 98);
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}

.sub-ingredient h1 {
    font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 40px;
    letter-spacing: 2px;
    font-weight: 1000;
}

.sub-ingredient p {
    font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
    font-weight: 500;
}

/* 카드 스타일 조정 */
.card {
    border: none; /* 카드의 기본 테두리 제거 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 카드 그림자 추가 */
    transition: transform 0.3s ease; /* 호버 시 애니메이션 */
}

.card:hover {
    transform: scale(1.07); /* 호버 시 카드 확대 */
}

.card-img-top {
    width: 100%; /* 이미지가 카드의 너비를 가득 채우게 함 */
    height: 200px; /* 고정된 높이로 설정 */
    object-fit: cover; /* 비율 유지하면서 크기에 맞게 이미지 자름 */
}

.card-body {
    text-align: center; /* 가운데 정렬 */
    background-color: #ffffff; /* 부드러운 배경색 */
    border-top: 1px solid #ddd; /* 카드 상단에 얇은 선 추가 */
    border-radius: 0 0 8px 8px; /* 하단 모서리 둥글게 */
    transition: background-color 0.3s, box-shadow 0.3s; /* 배경색과 그림자 애니메이션 */
    text-overflow: ellipsis; /* 넘치는 내용은 '...'으로 표시 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    white-space: nowrap; /* 줄바꿈하지 않고 한 줄로 표시 */
    position: relative; /* 툴팁 위치 설정을 위해 추가 */
}

.card-body:hover .tooltip-text {
    visibility: visible; /* 마우스를 올리면 툴팁 보이기 */
    opacity: 1; /* 툴팁 투명도 설정 */
}

.tooltip-text {
    visibility: hidden; /* 기본적으로 툴팁 숨기기 */
    background-color: black; /* 툴팁 배경색 */
    color: #fff; /* 툴팁 텍스트 색 */
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute; /* 툴팁 위치 절대값 */
    z-index: 1;
    bottom: 125%; /* 툴팁을 텍스트 상단에 위치 */
    left: 50%;
    margin-left: -60px;
    width: 120px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* 툴팁 아래쪽에 삼각형 추가 */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.card-text {
    margin: 0; /* 기본 여백 제거 */
    text-overflow: ellipsis; /* 넘치는 내용은 '...'으로 표시 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    white-space: nowrap; /* 내용이 한 줄로 유지되도록 설정 */
    font-size: 13px; /* 폰트 크기 조정 */
    color: #333; /* 텍스트 색상 */
}

.grid-img {
    width: 60%; /* 컨테이너의 80% 너비 설정 */
    margin: 0 auto !important; /* 가로 중앙 정렬 */
}

/* 캐러셀 이미지 스타일 */
.carousel-item img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* 모달 이미지 가운데 정렬 */
.modal-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 본문 내용 폰트 크기 조정 */
.recipe-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.recipe-details {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.recipe-manual {
    font-size: 0.8rem;
    text-align: left;
}

.recipe-manual p {
    margin-bottom: 0.5rem;
}

/* 모달 창 넓이 조정 */
.modal-dialog {
    max-width: 40% !important; /* 또는 원하는 넓이(px 단위) */
}

.modal-image {
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}